$colors: (
  pureWhite: #fff,
  white: #ebebeb,
  gray: #767676,
  lightGray: #8B7E84,
  backgroundGray: #DDDDDD,
  pureBlack: #000,
  black: #3C3C3C,
  lightBlack: #515152,
  yellow: #F3C30F,
  green: #118947,
  red: #FF0000,
);